html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: Neuton;
}

/*-------------------*/

#intro img, #imgur-album img {
    -webkit-box-shadow: 2px 3px 11px -4px rgba(112,111,112,1);
    -moz-box-shadow: 2px 3px 11px -4px rgba(112,111,112,1);
    box-shadow: 2px 3px 11px -4px rgba(112,111,112,1);
    margin: 0 auto;
}

#intro p {
    font-size: 1.1em;
    margin: 2em;
}

/*--------------------*/

#youtube-playlist p {
    margin: 2em;
}

/*--------------------*/

article.image * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

article.image {
    margin-bottom: 2em;
    position: relative;
}

article.image h1, article.image p {
    display: none;
}

/*--------------------*/

.overlay {
    background-color: rgba(0,0,0,0.5);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.overlay > div {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #fff;
    margin: 0 auto;
    max-height: 95vh;
    max-width: 80vh;
    position: relative;
    z-index: 11;
    top: 2em;
}

.overlay h1 {
    margin: 0;
    padding-top: .5em;
}

.overlay p {
    margin: 0;
    padding: 1em;
    padding-bottom: 1.5em;
}

.overlay img {
    border: 5px solid #ccc;
    margin: 0 auto;
    max-height: 65vh;
    max-width: 70%;
}
